@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h2 {
  margin: 0 7.3%;
  color: rgb(99 164 246);
}

.root {
  display: flex;
  flex-direction: column;
}

.movie {
  position: relative;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
}

.movie-info div {
  margin: 0;
}

.favourite {
  cursor: pointer;
}

.more {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  text-decoration: underline;
  color: whitesmoke;
  cursor: pointer;
}

.movie-over {
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

/* .movie:hover .movie-over {
  transform: translateY(0%);
} */

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373b69;
  padding: 2rem;
}

.right {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  color: white;
}

a:-webkit-any-link {
  cursor: pointer;
  margin-left: 5.8rem;
  text-decoration: none;
}

.css-i4bv87-MuiSvgIcon-root {
  color: red;
}

.fav-icon {
  margin-right: 2rem;
}

.favourite-page-navItem {
  margin-right: 1.5rem;
  color: #fff;
}

.search {
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  padding: 0.5rem 1.3rem;
  margin-right: 1.5rem;
}

.search:focus {
  outline: none;
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-style: bold;
}

.tag.green {
  color: rgb(53, 231, 53);
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
